# Idea files
.idea
target
META-INF

# Resources, temporaries, etc.
res
tmp
sol
test/gen
out

# DL4J memory crash dumps
dl4j-memory-crash-dump*

# Python binaries
*.pyc

# Jupyter Notebook cache files
.ipynb_checkpoints

# Slack webhook file
slack_webhook.txt

# Latex files
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc